main{
    margin: 50px 50px;
}

#search{
    width: 140px;
    height: 30px;
    border: 2px solid rgb(108, 175, 177);
    border-radius: 25px;
    color: rgb(108, 175, 177);
    font-weight: bold;
    margin-bottom: 10px;
}

#add{
    width: 36px;
    height: 36px;
    border: 0;
    border-radius: 50px;
    background-color: rgb(96, 206, 179);
    color: rgb(255, 255, 255);
    font-size: x-large;
    margin-bottom: 10px;
}

#create{
    width: 180px;
    height: 40px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(65, 118, 221);
    color: rgb(255, 255, 255);
    font-size: large;
    box-shadow: 3px 3px rgb(0, 0, 0);
}